// Variables
$body-color: #ffffff;
$primary-color: #85fea1; 
$secondary-color: #023b1f;
$border-color:#cccccc;
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lora', serif;
$text-color: #808080;
$title-color: #757575;
$gray: #808080;
$light-gray: #fafafa;
$dark: #000;
$light: #fff;
$black: #000;
$coin-size: 3.5rem;
$coin-thickness: 3.5rem / 8;
$bg: #023b1f;
$bg-button: #85fea1;
$font-color: #023b1f;
$c-l: #98fb91;
$c-m: #98fb95;
$c-d: #08b118;
$c-side: #08b118;
$shine: #e9f4ff;

