.tip-button {
  background: none;
  border: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  height: 2.6rem;
  margin-bottom: -4rem;
  outline: 0;
  position: relative;
  top: 0;
  transform-origin: 0% 100%;
  transition: transform 50ms ease-in-out;
  width: 9.5rem;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transform: rotate(4deg);
  }
  // Button was clicked
  &.clicked {
    animation: 150ms ease-in-out 1 shake;
    pointer-events: none;
    .tip-button__text {
      opacity: 0;
      transition: opacity 100ms linear 200ms;
    }
    &::before { // background/bar
      height: 0.5rem;
      width: 60%;
    }
    .coin {
      transition: margin-bottom 1s linear 200ms;
      margin-bottom: 0;
    }
  }
  // Coin almost finished falling
  &.shrink-landing {
    &::before { // background/bar
      transition: width 200ms ease-in;
      width: 0;
    }
  }
  // Coin finished falling
  &.coin-landed {
    &::after { // Thank you message
      opacity: 1;
      transform: scale(1);
      transform-origin: 50% 100%;
    }

    // Make the little confetti looking dots on this wrapper
    .coin-wrapper {
      background:
        radial-gradient(circle at 35% 97%, rgba($bg-button, 0.4) 0.04rem, transparent 0.04rem),
        radial-gradient(circle at 45% 92%, rgba($bg-button, 0.4) 0.04rem, transparent 0.02rem),
        radial-gradient(circle at 55% 98%, rgba($bg-button, 0.4) 0.04rem, transparent 0.04rem),
        radial-gradient(circle at 65% 96%, rgba($bg-button, 0.4) 0.06rem, transparent 0.06rem);
      background-position: center bottom;
      background-size: 100%;
      bottom: -1rem;
      opacity: 0;
      transform: scale(2) translateY(-10px);
    }
  }

  &__text {
    color: $font-color;
    margin-right: 1.8rem;
    opacity: 1;
    position: relative;
    transition: opacity 100ms linear 500ms;
    z-index: 3;
  }

  // Background of button
  &::before {
    background: $bg-button;
    border-radius: 0.25rem;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: height 250ms ease-in-out 400ms, width 250ms ease-in-out 300ms;
    width: 100%;
    z-index: 2;
  }

  // Thank you message
  &::after {
    bottom: -1rem;
    color: $bg-button;
    content: 'Thank you!';
    height: 110%;
    left: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    text-align: center;
    transform: scale(0);
    transform-origin: 50% 20%;
    transition: transform 200ms cubic-bezier(0,0,.35,1.43);
    width: 100%;
    z-index: 1;
  }
}

.coin-wrapper {
  background: none;
  bottom: 0;
  height: 18rem;
  left: 0;
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform: none;
  transform-origin: 50% 100%;
  transition: opacity 200ms linear 100ms, transform 300ms ease-out;
  width: 100%;
}

.coin {
  --front-y-multiplier: 0;
  --back-y-multiplier: 0;
  --coin-y-multiplier: 0;
  --coin-x-multiplier: 0;
  --coin-scale-multiplier: 0;
  --coin-rotation-multiplier: 0;
  --shine-opacity-multiplier: 0.4;
  --shine-bg-multiplier: 50%;
  bottom: calc(var(--coin-y-multiplier) * 1rem - #{$coin-size});
  height: $coin-size;
  margin-bottom: 3.05rem;
  position: absolute;
  right: calc(var(--coin-x-multiplier) * 34% + 16%);
  transform:
    translateX(50%)
    scale(calc(0.4 + var(--coin-scale-multiplier)))
    rotate(calc(var(--coin-rotation-multiplier) * -1deg));
  transition: opacity 100ms linear 200ms;
  width: $coin-size;
  z-index: 3;

  &__front,
  &__middle,
  &__back,
  &::before,
  &__front::after,
  &__back::after {
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  // Tails
  &__front {
    background:
      radial-gradient(circle at 50% 50%, transparent 50%, rgba($c-side, 0.4) 54%, $c-m 54%),
      linear-gradient(210deg, $c-d 32%, transparent 32%),
      linear-gradient(150deg, $c-d 32%, transparent 32%),
      linear-gradient(to right, $c-d 22%, transparent 22%, transparent 78%, $c-d 78%),
      linear-gradient(to bottom, $c-l 44%, transparent 44%, transparent 65%, $c-l 65%, $c-l 71%, $c-d 71%),
      linear-gradient(to right, transparent 28%, $c-l 28%, $c-l 34%, $c-d 34%, $c-d 40%, $c-l 40%, $c-l 47%, $c-d 47%, $c-d 53%, $c-l 53%, $c-l 60%, $c-d 60%, $c-d 66%, $c-l 66%, $c-l 72%, transparent 72%);
    background-color: $c-d;
    background-size: 100% 100%;
    transform: translateY(calc(var(--front-y-multiplier) * #{$coin-thickness} / 2)) scaleY(var(--front-scale-multiplier));
  
    // Shadow on coin face
    &::after {
      background: rgba(#000, 0.2);
      content: '';
      opacity: var(--front-y-multiplier);
    }
  }

  &__middle {
    background: $c-side;
    transform: translateY(calc(var(--middle-y-multiplier) * #{$coin-thickness} / 2)) scaleY(var(--middle-scale-multiplier));
  }

  // Heads
  &__back {
    background:
      radial-gradient(circle at 50% 50%, transparent 50%, rgba($c-side, 0.4) 54%, $c-m 54%),
      radial-gradient(circle at 50% 40%, $c-l 23%, transparent 23%),
      radial-gradient(circle at 50% 100%, $c-l 35%, transparent 35%);
    background-color: $c-d;
    background-size: 100% 100%;
    transform: translateY(calc(var(--back-y-multiplier) * #{$coin-thickness} / 2)) scaleY(var(--back-scale-multiplier));
  
    // Shadow on coin face
    &::after {
      background: rgba(#000, 0.2);
      content: '';
      opacity: var(--back-y-multiplier);
    }
  }

  // Light glare on the coin
  &::before {
    background:
      radial-gradient(circle at 25% 65%, transparent 50%, rgba(white, 0.9) 90%),
      linear-gradient(55deg, transparent calc(var(--shine-bg-multiplier) + 0%), $shine calc(var(--shine-bg-multiplier) + 0%), transparent calc(var(--shine-bg-multiplier) + 50%));
    content: '';
    opacity: var(--shine-opacity-multiplier);
    transform:
      translateY(calc(var(--middle-y-multiplier) * #{$coin-thickness} / -2))
      scaleY(var(--middle-scale-multiplier))
      rotate(calc(var(--coin-rotation-multiplier) * 1deg));
    z-index: 10;
  }

  // Sqaure for the 'side' of the coin
  &::after {
    background: $c-side;
    content: '';
    height: $coin-thickness;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
  }
}

@keyframes shake {
  0% { transform: rotate(4deg) }
  66% { transform: rotate(-4deg) }
  100% { transform: rotate() }
}

.banner {
	padding: 100px 0;

	.block {
		h1 {
			margin-bottom: 13px;
		}

		p {
			font-size: 20px;
			margin-bottom: 30px;
		}

		.video {
			width: 80%;
			margin: 0 auto;

			@include tablet {
				width: 100%;
			}
		}

		ul.clients-logo {
			margin-top: 30px;

			li {
				margin-left: 30px;

				@include mobile {
					margin-bottom: 20px;
				}

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}

.slider {
	padding: 180px 0 300px;
	text-align: center;
	position: relative;
	overflow: hidden;

	.block {
		position: relative;

		h1,
		h3 {
			color: $light;
		}

		.download {
			margin-top: 20px;
		}

		.image-content {
			text-align: center;

			img {
				margin-top: 100px;
				margin-bottom: -200px;
			}
		}
	}

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		border-bottom: 290px solid #fff;
		border-left: 2000px solid transparent;
		width: 0;
	}
}

.services {
	.service-block {
		background: $light;
		padding: 30px 40px;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;

			@include mobile {
				margin-bottom: 30px;
			}
		}

		border-radius: 5px;

		h3 {
			line-height: 30px;
			text-transform: capitalize;
			font-size: 16px;
			font-weight: 500;
		}

		i {
			font-size: 30px;
			color: $primary-color;
			margin-bottom: 15px;
			display: inline-block;

		}

		p {
			margin-bottom: 0;
			font-size: 14px;
			line-height: 20px;
		}
	}

	.app-preview {
		display: flex;
		justify-content: center !important;

		img {
			height: 500px;
			width: auto;
		}
	}

	@include desktop {
		.col-lg-4.m-auto {
			display: none;
		}
	}
}

.service {
	@extend .hide-overflow;

	.service-thumb {
		@include tablet {
			width: 80%;
			margin: 0 auto;
		}
	}

	.service-box {
		padding: 20px;
		background: $light;
		border-radius: 4px;
		@extend .shadow;

		@include tablet {
			width: 80%;
			margin: 0 auto;
		}

		.service-item {
			text-align: center;
			padding: 10px;
			margin: 20px 0;

			i {
				font-size: 20px;
				color: $primary-color;
				display: inline-block;
				margin-bottom: 10px;
			}

			p {
				font-size: 14px;
			}
		}
	}
}

.feature {
	.feature-content {

		h2,
		p {
			margin-bottom: 25px;

			@include tablet {
				text-align: center;
			}
		}
	}

	.testimonial {
		@include tablet {
			text-align: center;
		}

		p {
			font-family: $secondary-font;
			margin-bottom: 10px;
			font-style: italic;
			color: #242424;
		}

		ul.meta {
			li {
				font-size: 12px;
				margin-right: 10px;

				img {
					height: 40px;
					width: 40px;
					border-radius: 100%;
				}
			}
		}
	}
}

// App Features
.app-features {
	.app-feature {
		@include mobile {
			margin-bottom: 30px;
		}
	}

	.app-explore {
		display: flex;
		justify-content: center !important;
		margin-bottom: 40px;
	}
}

.banner-full {
	.image {
		display: flex;
		justify-content: center;

		img {
			height: 625px;
		}

		@include tablet {
			margin-bottom: 30px;
		}
	}

	.block {
		@include tablet {
			text-align: center;
		}

		.logo {
			margin-bottom: 40px;
		}

		h1 {
			margin-bottom: 40px;
		}

		p {
			font-size: 20px;
			margin-bottom: 50px;
		}

		.app {
			margin-bottom: 20px;
		}
	}
}

.video-promo {
	padding: 150px 0;

	.content-block {
		width: 60%;
		margin: 0 auto;
		text-align: center;

		h2 {
			font-size: 30px;
			color: $light;
		}

		p {
			margin-bottom: 30px;
		}

		a {
			i.video {
				height: 125px;
				width: 125px;
				background: $primary-color;
				display: inline-block;
				font-size: 40px;
				color: $light;
				text-align: center;
				line-height: 125px;
				border-radius: 100%;
			}

			&:focus {
				outline: 0;
			}
		}
	}
}

.testimonial {
	.testimonial-slider {
		.item {
			padding-bottom: 10px;

			.block {
				padding: 40px;
				text-align: center;
				margin: 10px;
				border-radius: 5px;

				.image {
					margin-top: 30px;
					margin-bottom: 5px;
					width: 100%;
					display: flex;
					justify-content: center;

					@include tablet {
						flex-grow: 1;
					}

					img {
						height: 40px;
						width: 40px;
						border-radius: 100%;
					}
				}

				p {
					font-family: $secondary-font;
					font-style: italic;
					color: #888888;
				}

				cite {
					font-style: normal;
					font-size: 14px;
					color: #161616;
				}
			}
		}

		// Owl dot Active color overide
		.owl-dots {
			.owl-dot {
				&:hover {
					span {
						background: $primary-color;
					}
				}

				&.active {
					span {
						background: $primary-color;
					}
				}
			}
		}
	}
}

/* homepage 3 */
.gradient-banner{
	padding: 100px 0 170px;
	position: relative;
	overflow: hidden;
	&::before{
    position: absolute;
		content: '';
    bottom: 0;
		left: 50%;
		transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-image: linear-gradient(315deg, #85fea1 36%,#023b1f 39%); //aq
	}
}

.pull-top{
	margin-top: -100px;
}

.shapes-container {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.shape {
		position: absolute;

		&::before {
			content: '';
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(255, 255, 255, .1);
			transform: rotate(-35deg);
			position: absolute;
			border-radius: 50px;
		}
	}

	.shape:nth-child(1) {
		top: 2%;
		left: 11%;
		width: 400px;
		height: 70px;
	}

	.shape:nth-child(2) {
		top: 14%;
		left: 18%;
		width: 200px;
		height: 15px;
	}

	.shape:nth-child(3) {
		top: 80%;
		left: 4%;
		width: 300px;
		height: 60px;
	}

	.shape:nth-child(4) {
		top: 85%;
		left: 15%;
		width: 100px;
		height: 10px;
	}

	.shape:nth-child(5) {
		top: 5%;
		left: 50%;
		width: 300px;
		height: 25px;
	}

	.shape:nth-child(6) {
		top: 4%;
		left: 52%;
		width: 200px;
		height: 5px;
	}

	.shape:nth-child(7) {
		top: 80%;
		left: 70%;
		width: 200px;
		height: 5px;
	}

	.shape:nth-child(8) {
		top: 55%;
		left: 95%;
		width: 200px;
		height: 5px;
	}

	.shape:nth-child(9) {
		top: 50%;
		left: 90%;
		width: 300px;
		height: 50px;
	}

	.shape:nth-child(10) {
		top: 30%;
		left: 60%;
		width: 500px;
		height: 55px;
	}

	.shape:nth-child(11) {
		top: 60%;
		left: 60%;
		width: 200px;
		height: 5px;
	}

	.shape:nth-child(12) {
		top: 35%;
		left: 75%;
		width: 200px;
		height: 5px;
	}

	.shape:nth-child(13) {
		top: 90%;
		left: 40%;
		width: 300px;
		height: 45px;
	}

	.shape:nth-child(14) {
		top: 54%;
		left: 75%;
		width: 200px;
		height: 5px;
	}

	.shape:nth-child(15) {
		top: 50%;
		left: 90%;
		width: 200px;
		height: 5px;
	}

	.shape:nth-child(16) {
		top: 50%;
		left: 81%;
		width: 100px;
		height: 5px;
	}
}

.zindex-1{
	z-index: 1;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $primary-color;
	margin: 1em 0;
	padding: 0;
}

.icon-box{
	height: 80px;
	width: 80px;
	text-align: center;
	background: $primary-color;
	i{
		line-height: 80px;
		font-size: 30px;
	}
}