.slimScrollDiv::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0.4rem;
    background-color: transparent;
    border-radius: calc(0.25rem - 1px)
}
slimScrollDiv::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid #000;
}
.slimScrollDiv::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    border-radius: 0 calc(0.25rem - 1px) calc(0.25rem - 1px) 0;
}