
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12 m-md-auto  mb-2 align-self-center footer-mobile">
          <div class="block">
            <a href="index.html">LUZS CONSULTORIA</a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12 mt-5 mt-lg-0">
          <div class="block-2">
            <h6 class="footer-center">Produtos</h6>
            <ul class="footer-mobile">
              <li>Monitores</li>
              <li>Impressoras</li>
              <li>Computadores</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12 mt-5 mt-lg-0">
          <div class="block-2">
            <h6 class="footer-center">Telefone</h6>
            <ul class="footer-mobile">
              <li><a href="https://wa.me/55551532178682?text=Ol%C3%A1%20Luzs%2C%20te%20achei%20atrav%C3%A9s%20do%20site!">+55 15 3217-8682</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12 mt-5 mt-lg-0">
          <div class="block-2">
            <h6 class="footer-center">Página</h6>
            <ul class="footer-mobile">
              <li><a href="about.html">Home</a></li>
              <li><a href="about.html">Sobre</a></li>
              <li><a href="contact.html">Contato</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12 mt-5 mt-lg-0">
          <div class="block-2">
            <ul class="footer-mobile">
              <h6 class="footer-center">Segmentos</h6>
              <li><a class="dropdown-item ">Educação</a></li>
              <li><a class="dropdown-item ">Logística</a></li>
              <li><a class="dropdown-item ">Saúde</a></li>
              <li><a class="dropdown-item ">Varejo</a></li>
              <li><a class="dropdown-item ">Indústria</a></li>
              <li><a class="dropdown-item ">Governo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="http://taicode.com.br/">Taicode</a></small class="text-secondary">
  </div>
</footer>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/55551532178682?text=Ol%C3%A1%20Luzs%2C%20te%20achei%20atrav%C3%A9s%20do%20site!" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
  z-index:1000;" target="_blank">
<i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>
  
  <!-- JAVASCRIPTS -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="plugins/google-map/gmap.js"></script>
  
  <script src="js/script.js"></script>
</body>

</html>