


<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">	 
    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo" style="width: 80%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown active">
          <!-- Dropdown list -->
          <li class="nav-item @@Home">
            <a class="nav-link" href="index.html">Home</a> 
          </li>
          <li class="nav-item @@about">
            <a class="nav-link" href="sobre.html">Sobre</a>
          </li>
          <li class="nav-item @@contact">
            <a class="nav-link" href="contato.html">Contato</a>
          </li>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Segmentos<span><i class="ti-angle-down"></i></span></a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item ">Educação</a></li>
            <li><a class="dropdown-item ">Logística</a></li>
            <li><a class="dropdown-item ">Saúde</a></li>
            <li><a class="dropdown-item ">Varejo</a></li>
            <li><a class="dropdown-item ">Indústria</a></li>
            <li><a class="dropdown-item ">Governo</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--Slider Main-->
<section class="rev_slider_wrapper">		
  <div id="rev_slider" class="rev_slider"  data-version="5.0">
    <ul>	
      <!-- SLIDE  -->
      <li data-transition="fade">
        <!-- MAIN IMAGE -->
        <img src="images/home3-banner3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">							
       <!-- LAYER NR. 1 -->
        <h1 class="tp-caption  tp-resizeme uppercase" 													
        data-x="['left','left','left','center']" data-hoffset="['0','15','15','15']" 
        data-y="['260','160','160','90']" data-voffset="['0','0','0','0']"
        data-responsive_offset="on"
        data-transform_idle="o:1;"
        data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
		  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  							 
        data-start="1000">Controle de <strong class="blue_t">Pragas</strong>
        </h1>
        <div class="tp-caption  tp-resizeme" 							
        data-x="['left','left','left','center']" data-hoffset="['0','15','15','15']" 
        data-y="['330','230','230','170']" data-voffset="['0','0','0','0']"
        data-responsive_offset="on"							
        data-transform_idle="o:1;"
        data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
		  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  							 
        data-start="1300">
        <p>Chega de problemas com as  <br> 
        design to bathroom remodeling.</p>
        </div>
        <div class="tp-caption  tp-resizeme" 												
        data-x="['left','left','left','center']" data-hoffset="['0','15','15','15']" 
        data-y="['405','305','280','175']" data-voffset="['0','0','0','0']"
        data-responsive_offset="on"
        data-transform_idle="o:1;"
        data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
		  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 							 
        data-start="1600">
        <a href="#." class="btn-border text-uppercase border_radius">Nossos Serviços</a> 
        <a href="#." class="text-uppercase border_radius btn-green">Fale conosco</a>
        </div>
      </li>
      <li data-transition="fade">
        <img src="images/home3-banner2.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">	
        <h1 class="tp-caption  tp-resizeme uppercase" 							
        data-x="['left','left','left','center']" data-hoffset="['0','15','15','15']" 
        data-y="['260','160','160','90']" data-voffset="['0','0','0','0']"
        data-responsive_offset="on"
        data-transform_idle="o:1;"
        data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
		  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"  							 
        data-start="1000">Serviços de <br><strong class="blue_t">Detetização</strong>
        </h1>
        <div class="tp-caption  tp-resizeme" 							
        data-x="['left','left','left','center']" data-hoffset="['0','15','15','15']" 
        data-y="['330','230','230','170']" data-voffset="['0','0','0','0']"
        data-responsive_offset="on"
        data-transform_idle="o:1;"
        data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
		  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 							 
        data-start="1400">
        <p></p>
        </div>
        <div class="tp-caption  tp-resizeme" 							
        ddata-x="['left','left','left','center']" data-hoffset="['0','15','15','15']" 
        data-y="['405','305','280','175']" data-voffset="['0','0','0','0']"
        data-responsive_offset="on"
        data-transform_idle="o:1;"
        data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" 
		  data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 							 
        data-start="1700">
        <a href="#." class="btn-border text-uppercase border_radius">Nossos Serviços</a> 
        <a href="#." class="text-uppercase border_radius btn-green">Fale conosco</a>
        </div>
      </li>
    </ul>				
  </div>
</section>	


<!--====  End of Hero Section  ====-->
