


<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">	 
    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo" style="width: 80%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown active">
          <!-- Dropdown list -->
          <li class="nav-item @@Home">
            <a class="nav-link" href="index.html">Home</a> 
          </li>
          <li class="nav-item @@about">
            <a class="nav-link" href="sobre.html">Sobre</a>
          </li>
          <li class="nav-item @@contact">
            <a class="nav-link" href="contato.html">Contato</a>
          </li>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Segmentos<span><i class="ti-angle-down"></i></span></a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item ">Educação</a></li>
            <li><a class="dropdown-item ">Logística</a></li>
            <li><a class="dropdown-item ">Saúde</a></li>
            <li><a class="dropdown-item ">Varejo</a></li>
            <li><a class="dropdown-item ">Indústria</a></li>
            <li><a class="dropdown-item ">Governo</a></li>
          </ul>
        </li>
      </ul>
    </div>    
  </div>
</nav>

<!--Slider Main-->

<section>
  <div class="product-slider">
    <div class="banner-fundo">
          <div style="backdrop-filter: blur(5px); background: rgba(0,0,0, 0.3);width: 100%; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 0 10px 0 17px;">
            <div class="text-white font-weight-bold ">Ilumine suas oportunidades !</div>
            <div class="text-white mb-5">Vendas, Licitações, Consultoria e Soluções</div>
            <a href="contato.html" class="btn btn-main-md">Entre em contato Agora!</a>
          </div>
    </div>
    <div class="banner-fundoB" >
        <div class="row align-items-center">
          <div style="backdrop-filter: blur(5px); background: rgba(0,0,0, 0.4); width: 100%; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 0 10px 0 17px;">
            <div class="text-white font-weight-bold ">Ilumine suas oportunidades !</div>
            <p class="text-white mb-5">Vendas, Licitações, Consultoria e Soluções</p>
            <a href="contato.html" class="btn btn-main-md">Entre em contato Agora!</a>
          </div>
        </div>
    </div>
    <div class="banner-fundoC" >
        <div class="row align-items-center">
          <div style="backdrop-filter: blur(5px); background: rgba(0,0,0, 0.4); width: 100%; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 0 10px 0 17px;">
            <div class="text-white font-weight-bold ">Ilumine suas oportunidades !</div>
            <p class="text-white mb-5">Vendas, Licitações, Consultoria e Soluções</p>
            <a href="contato.html" class="btn btn-main-md">Entre em contato Agora!</a>
          </div>
        </div>
    </div>
    <!--
    <div class="image-content item image-printer">
      <img class="img-fluid" src="images/banner-tech1.jpg" alt="licitação banner">
    </div>
    <div class="image-content item image-printer">
      <img class="img-fluid" src="images/banner-tech2.jpg" alt="licitações banner">
    </div>ffFF
    -->
  </div>
</section>



<!--====  End of Hero Section  ====-->
